.calc-container {
  background-color: darkslategray;
  border-style: outset;
  border-color: dimgray;
  border-width: 10px;
  border-radius: 4px;
  padding: 10px;
  width: 300px;
  height: 400px;
}

body {
  margin: 50px;
}
#display {
  margin: 20px 20px 50px 20px;
  background-color: blanchedalmond;
  border-style: inset;
  border-color: dimgray;
  border-width: 5px;
  border-radius: 4px;
  font-size: 30px;
  text-align: right;
  padding: 10px;
  height: 36px;
}

#keypad {
  margin: 20px;
  text-align: center;
}

button {
  background-color: darkgrey;
  margin: 5px;
  text-align: center;
  width: 50px;
  height: 40px;
  font-size: 20px;
  border-style: outset;
  border-width: 4px;
  border-radius: 4px;
}
